fastapi==0.103.1
uvicorn==0.23.2
python-multipart==0.0.6
tensorflow==2.21.0
torch==2.11.0
torch-geometric==2.7.0
opencv-python==4.13.0.92
numpy==2.4.4
matplotlib==3.10.9
scikit-learn==1.8.0
pillow==12.2.0
huggingface_hub==1.13.0
omegaconf==2.3.0
einops==0.8.2
rasterio==1.4.4
python-dotenv==1.2.2
tenacity==9.1.4
